* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 10px solid #000;
  box-sizing: border-box;
  background-color: aqua;
}
.day {
  color: red;
}
.absent {
  color: green;
}
.react {
  background: #000;
}

.para {
  color: red;
  padding: 20px;
  border: 10px solid black;
}
.container {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: cadetblue;
}
.imgContainer {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
